<div class="media github-login-button">

       <button class="btn btn-block btn-outline-secondary" onClick="window.location='/auth/github'"> <div class="media"><img style="align: left" src="/img/GitHub-Mark-32px.png" alt="Github Mark"> <div class="media-body mt-1">Log in with Git Hub </div></div></button>

</div>