<div class="media github-login-button">

       <button class="btn btn-block btn-outline-secondary" onclick="window.location='/auth/twitter'"> <div class="media"><img style="align: left" src="/img/twitter-32px.png" alt="Github Mark"> <div class="media-body mt-1">Login in with Twitter<div></div></button>

</div>