{{#section 'title'}}
    <title>fk - Home</title>
{{/section}}
<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">

    <!-- Example row of columns -->
    <div class="row">

        <div class="col-md-7 pt-1 ml-0 pl-0">


        </div>
        <div class="col-md-5 pr-0">
            <h2>Latest Changes:</h2>
            {{>commits}}

            <h2>Tweets:</h2>
            {{>tweets}}
        </div>

    </div>

    <hr>

</div>
