
{{#section 'title'}}
    <title>fk - Confirm profile deletion</title>
{{/section}}

{{#section 'style'}}
    <link href="/css/signin.css" rel="stylesheet">
{{/section}}
<div class="container text-center">
    <form action="" method="post" class="form-signin mb-2">
        <h1 class="h3 mb-3 font-weight-normal">Are you sure?</h1>
        <p>Do you really want to delete your account?</p>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Delete</button>
    </form>
    <div class="form-signin mt-2">
        <a class="btn btn-lg btn-success btn-block" href="/user/profile">Take me back</button></a>
    </div>

</div>