.commit-card {
    width:100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 232, 237);
    border-image: initial;
    border-radius: 5px;

}
.commit-container{
    width: 100%;
    margin-bottom: 1.5rem;
}

.commit-card-body{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
    border-bottom: 0px;
    background: #fafafa;
}
.commit-card-title {
    font: 16px / 1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    margin-bottom: 0px;
    font-weight: 700;

}

.commit-card-subtitle{
    color: rgb(105, 120, 130);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.commit-avatar-image{
    width:36px;
    height: 36px;
}

.commit-card-footer{
    border: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
    font:12px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}