body {
    color: #444444;
    font-family: Helvetica, sans-serif;
}

#header{
    padding: 20px ;
    border-bottom-color: #444444;
    border-style: solid;
    border-width: 0 0 0 0;
}

#header-logo{
    height: 70px;
}
.centerRow{
    padding:20px;
}

a button .hover {text-decoration: none}
